body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 16px;
    background-color: antiquewhite;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    padding: 0;
    text-transform: uppercase;
}
h2{
    font-size: 50px;
    margin-bottom: 58px;
}
h3{
    font-size: 25px;
}
a{
    text-decoration: none;
}
.selection{
    padding-top: 113px;
}
p{
    margin: 0;
}
ul,li{
    display: block;
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header{
    background: url('Cave_background.png') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px;
}

header a{
    color: #fff;
}
.logo{
    margin-right: 69px;
}
.menu{
    display: flex;
}
.menu li a{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu li{
    margin-right: 40px;
}
.ged{
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav{
    display: flex;
    align-items: center;
}
.offer{
    text-transform: uppercase;
    margin-top: 213px;

}
.offer p{
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}
.offer h1{
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em;
}
.btn{
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
}
.description{
    display: flex;
    justify-content: space-between;
}
.description p{
    font-family: sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}
.desk-left, .desk-right{
    width: 567px;
}
.galery{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    
}
.galery img{
    transition: all .2s ease-in-out;
}
.galery img:hover{
    transform: scale(1.5);
}
video{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 260px;
    height: 145px;
}